.quote-container {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2em 1.5em;
    width: 200px;
    /* min-height: 200px; */
    text-align: center;
}
.quote {
    /* background-color: #fff; */
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 15px 0;
    /* text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); */
}
.quote::first-letter {
    font-size: 2.5rem;
}

.author {
    margin: 15px 0 35px 0;
    font-family: "Hind Vadodara", sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}
